@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1DEDE, #BBACC1);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #484a479d;
}

h1 {
    color: #3c54b4;
    text-align: center;
    text-shadow: 1px 1px 2px #484a479d;
}

h2 {
    color: #00CECB;
    text-align: center;
}
p {
    text-align: justify;
}